<script src="/assets/js/index.js"></script>

<div class="container">
    <header class="jumbotron">
        <div class="row d-flex justify-content-center">
            <img src="/assets/img/burger.png" id="burger-img" alt="Burger Clipart">
        </div>
        <div class="row d-flex justify-content-center">
            <h1>Eat Some Burgers!</h1>
        </div>
    </header>
    <main>
        <section class="row">
            <div class="col-6">
                <h2 class="text-center">Ready to eat!</h2>
                <ul>
                    {{#each burgers}}
                    {{#unless devoured}}
                    {{> burger-block}}
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>
            <div class="col-6">
                <h2 class="text-center">Ready to make!</h2>
                <ul>
                    {{#each burgers}}
                    {{#if devoured}}
                    {{> burger-block}}
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </section>
        <hr>
        <section class="row">
            <div class="col-12">
                <h2 class="text-center">Make a new burger</h2>
                <form id="new-burger-form" class="w-50 mx-auto">
                    <div class="form-group">
                        <label for="new-burger">Enter a name for the new burger:</label>
                        <input type="text" name="new-burger" id="new-burger" class="form-control">
                        <div class="input-group-append"><button type="submit" class="btn btn-primary">Submit</button></div>
                    </div>
                </form>
            </div>
        </section>
    </main>
</div>